doctype html

html.no-js

    include includes/head

    .hidden.blur.animated.bounceIn

    body
        .main-wrapper
            .sidebar
                .players
                    .row
                        .col-md-12.text-center
                            input(type="text", placeholder="name surname")

                        .col-md-12.text-center
                            input(type="text", placeholder="name surname")

                p.text-center
                    button.add-players add players

                p.text-center
                    button.text-uppercase.play Play!

            main.content.blur
                .row
                    .block.col-md-12.text-center.left-side
                        .name Loading...
                        .count 0
                        .wons 0

                    .block.col-md-12.text-center
                        .name Loading...
                        .count 0
                        .wons 0

        include includes/footer
