doctype html

html.no-js

    include includes/head

    .hidden

    body
        .main-wrapper
            main.content
                .row
                    .block.col-md-12.text-center.left-side
                        .name Loading...
                        .count 0
                        .wons 0

                    .block.col-md-12.text-center
                        .name Loading...
                        .count 0
                        .wons 0

        include includes/footer
