doctype html
html.no-js

    include includes/head

    body
        include includes/svg-symbols

        .hidden.blur.animated.bounceIn

        .main-wrapper
            main.content
                h1.text-center
                    svg.icon-racket
                        use(xlink:href="#icon-racket")

                table.table-bordered.table-results
                    tr
                        td Имя Фамилия
                        td 11
                        td 11
                        td 8
                        td 5
                        td 11

                    tr
                        td Имя Фамилия
                        td 9
                        td 4
                        td 11
                        td 11
                        td 5

                p.text-center
                    a.button(href="/") На главную

        include includes/footer
