doctype html
html.no-js

    include includes/head

    body
        include includes/svg-symbols

        .main-wrapper
            main.content
                h1.text-center
                    svg.icon-racket
                        use(xlink:href="#icon-racket")

                table.table-bordered.detail-results
                    tr
                        td= player1.name
                        for point in points
                            td= point[1]

                    tr
                        td= player2.name
                        for point in points
                            td= point[2]

                p.text-center
                    a.button(href="/") На главную
