doctype html

html.no-js

    include includes/head

    body
        .hidden.blur.animated.bounceIn

        .main-wrapper
            p.text-center.show-result-table
                a.button(href="/table") Таблица результатов

            main.content.center
                .row
                    .block.col-md-12.text-center.left-side
                        .name Загрузка...
                        .count 0
                        .wons 0

                    .block.col-md-12.text-center
                        .name Загрузка...
                        .count 0
                        .wons 0

        include includes/footer
