doctype html

html.no-js

    include includes/head

    body
        script(type='text/javascript').
            var statuses = !{JSON.stringify(statuses)};

        .main-wrapper
            p.text-center.show-result-table
                a.button(href="/table") Таблица результатов

            main.content.center
                .row
                    .block.col-md-12.text-center.left-side(data-player='1')
                        .name
                            = player1.name
                        .count
                            = player1.point
                        .wons
                            = player1.score

                    .block.col-md-12.text-center(data-player='2')
                        .name
                            = player2.name
                        .count
                            = player2.point
                        .wons
                            = player2.score

            input(type='hidden', id='gameId' value="#{id}")

        script(src="/dist/js/game.bundle.js")
