doctype html

html.no-js

    include includes/head

    body
        .hidden.blur.animated.bounceIn

        .main-wrapper
            main.content
                .add-players
                    .row
                        .col-md-11.text-center
                            input.add-player1(type="text", placeholder="name surname")

                        .col-md-11.text-center
                            input.add-player2(type="text", placeholder="name surname")

                        .col-md-2
                            button#add-players.add-players Add

                .players
                    table.table-bordered
                        for game, i in data
                            tr
                                td
                                    =data[i].player1
                                td 0:0
                                td
                                    =data[i].player2
                                td
                                    button.play(data-id=data[0].id) Play

        include includes/footer
