doctype html

html.no-js

    include includes/head

    body
        .hidden.blur.animated.bounceIn

        .main-wrapper
            main.content
                p
                    button.pull-right.login Войти

                h1.text-center Турнирная таблица

                .add-players
                    .row
                        .col-md-11.text-center
                            input.add-player1(type="text", placeholder="Имя Фамилия")

                        .col-md-11.text-center
                            input.add-player2(type="text", placeholder="Имя Фамилия")

                        .col-md-2
                            button#add-players.add-players +

                .players
                    table.table-bordered
                        for game, i in data
                            tr
                                td
                                    =game.player1.name
                                td
                                    =game.player1.score + " : " + game.player2.score
                                td
                                    =game.player2.name
                                td
                                    button.play(data-id=game.id) Игра
                                td
                                    button.delete-players(data-id=game.id) &times;

        include includes/footer
