doctype html

html.no-js

    include includes/head

    body
        .hidden.blur.animated.bounceIn

        .main-wrapper
            main.content
                .add-players
                    .row
                        .col-md-11.text-center
                            input(type="text", placeholder="name surname")

                        .col-md-11.text-center
                            input(type="text", placeholder="name surname")

                        .col-md-2
                            button.add Add

                .players
                    table.table-bordered
                        tr
                            td Name1
                            td 0:0
                            td Name2
                            td
                                button.play Play

                        tr
                            td Name3
                            td 0:0
                            td Name4
                            td
                                button.play Play

        include includes/footer
